body {
    font-size: 15pt;
    margin:0;
    box-sizing:border-box;
    background-color: mediumpurple;
}
h3{
  display:inline;
}
#yourChoice{
  position:absolute;
  bottom:93.5%;
  left:70%;
}
button{
  margin-top:50%;
}
#yourMoveEl{
  text-align:right;
  margin-right:10%;
}
#rock-btn{
  margin-left:35%;
}
#message-el{
  text-align:center;
}
#computerMoveEl{
  position:absolute;
  top:3.5%;
  left:60px;
}